* {
    
}

/*div div {
  font-size: 40px;
  font-weight: 100;
  width: 150px;
  height: 150px;
  margin: 20px;
  border: 10px solid red;
  background: yellow;
  display: inline-block;
}*/

.parrafo-uno {
  font-size: 40px;
  margin: auto;
  margin-top: 50px;
  width: 320px;
  height: 350px;
  border: 4px solid red;
  background: grey;
  overflow: auto; /* valor: scroll, auto, visible*/
}

.contenedor-uno {
  padding-top: 100px;
}

.contenedor-uno div {
  width: 50%;
  float: right;
}

.primario {
  background: red;
}

.secundario {
  background: yellow;
}

.cont {
  margin: auto;
  margin-top: 200px;
  border: 4px solid blue;
  background: orange;
  width: 50%;
  padding: 20px;
}


.cont img {
  float: left;
  width: 200px;
  margin-right: 20px;
}

.texto {
  padding: 20px;
}

.texto::first-line /*first-letter*/ {
  color: blue;
  font-size: 2em;
}

form {
  margin: 100px auto;
  display: block;
  background: #555;
  padding: 100px;
  width: 50%;
}


/*pseudoelementos*/
input {
  padding: 6px;
  width: 100%;
}

input::placeholder {
  color: red;
  background: yellow;
}

input::selection {
  color: yellow;
  background: red;
}

b {
  padding: 10px;
  width: 100%;
}

/*before and after
b::before {
  content: 'a todos';
}

b::after {
  content: 'esto es after y before';
}
*/

/*pseudoclases*/
.caja1 {
  height: 200px;
  width: 200px;
  background: slateblue;
}

.caja1:hover {
  background: darkslateblue;
  height: 230px;
  width: 230px;
}

.caja2 {
  margin: 30px;
  display: block;
  background: black;
}

.caja2:link {
  color: darkred;
}

.caja2:visited {
  color: pink;
}

.caja3 {
  background: violet;
  width: 300px;
  height: 300px;
  margin: 25px;
  transition: all 1s;
}

.caja3:active {
  background: darkslateblue;
  width: 600px;
}

.caja4 {
  width: 300px;
  margin: 25px;
  transition: padding 1s, background 1s;
}

.caja4:focus {
  background: blue;
  padding: 25px;
}

.caja5 {
  margin: 25px;
}

.caja5 b:lang(es) {
  background: red;
  padding: 20px;
}

.caja6 {
  margin: 25px;
  width: 400px;
  height: 200px;
}

.caja6 img {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  object-fit: scale-down;
  /*contain,cover,none,scale-down*/
  object-position:right;
}

.caja7 {
  margin: 40px;
  width: 400px;
  height: 200px;
  border: 5px solid red;
  background: salmon;
  cursor: pointer;
}

.caja7:active {
  cursor: progress;
}
