* {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 100%;
  font-size: 20px;
}

.flex-container {
  display: flex; 
  /*row,column,*/
  /*flex-flow:column wrap;*/
  /*flex-direction: column;*/
  flex-wrap: wrap;
  justify-content: center;

  /*align-item: center;
   baseline, stretch,flex-start,flex-end
   align-content: ;*/

}

.flex-item {
  background: #248;
  color: white;
  margin: 5px;
  height: 120px;
  min-width:120px;
}

.orange {
  background: orange;
}

.green {
  background: green;
}
