* {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 100%;
  font-size: 20px;
}

.container {
  background: #60f;
  padding: 20px 5px;
}

.caja {
  background: #025;
  height: 100px;
  width: 100px;
  transition-property: left, background;
  transition-duration: 1s, 2s;
  /*transition-delay: 1s;*/
  margin: 30px;
  border: 1px solid #000;
  position: relative;
  left: 0;
}

.container:hover > .caja {
  left: 80%;
  background: #fff;
}

.caja:first-child  {
  transition-timing-function: linear;
}

.caja:nth-child(2) {
  transition-timing-function: ease;
}

.caja:nth-child(3) {
  transition-timing-function: ease-in;
}

.caja:nth-child(4) {
  transition-timing-function: ease-out;
}

.caja:nth-child(5) {
  transition-timing-function: ease-in-out;
}

