/*  
especificidad:
    !important ->
    estilos en linea ->
    identificadores ->
    clases->
    pseudoclases ->
    atributos ->
    elementos ->
    pseudo elementos


h2 {
    color: coral;
}
h2 {
    color: red;
}
h2 {
    color: blue;
} el ultimo es el que se tomara en cuenta
*/

.titulo-h2 {    /* clase */
    color: rgb(148, 17, 17);
}

#id-uno {   /* tipo id */
    color: #262ea1;
}

h2 b {  /* descendiente */
    color: coral;
}

.parrafo-uno b{ /* descendiente */
    color: darkgreen;
}

button:hover {  /* pseudo-clases */
    color: darkorchid;
}


/*------------------------------------------------*/
/*fonts*/

* {
    font-family: 'Rajdhani', sans-serif;
}

body {
    padding-top: 100px;
}

.contact-form {
    font-size: 10px;
    background-color: #262ea1;
    width: 90vw;
    height: 10vh;
    position: sticky;
    top: 10px;
}

.contact-form__h2 {
    font-size: 2em;
    color: aliceblue;
    font-weight: 100;
}

h3 {
    background-color: orange;
    display: inline-block;
    padding:10px 20px 30px 40px;
    /*
    padding-bottom: 10px;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 10px;
     */
    height: 200px;
    width: 200px;
    box-sizing: content-box;
    text-align: center;
    margin: 30px;
    border-radius: 20px;
    border: 3px solid blue; 
    box-shadow: 30px 20px 10px 10px black;
    /*border: tamaño tipo color;*/
    text-shadow:2px 2px 7px white;
    transform: rotate(10deg);
}

.caja1 {
    width: 200px;
    height: 200px;
    background: blue;
    font-size: 30px;
    position: relative;
    left: 30px;
}

.caja2 {
    width: 200px;
    height: 200px;
    background: red;
    font-size: 30px;
    position: absolute;
    left: 300px;
}

.caja3 {
    width: 200px;
    height: 200px;
    background: green;
    font-size: 30px;
    top: 500px;
    left:20px;
}

.caja4 {
    width: 200px;
    height: 200px;
    background: purple;
    font-size: 30px;
}

.padre {
    background: blue;
    width: 300px;
    height: 300px;
    margin: 40px;
    position: relative;
}

.hijo {
    background: red;
    width: 100px;
    height: 100px;
    position: relative;
    top: -20px;
    left: -20px;
    z-index: -1;
}

.contenedorcaja {
    margin: 50px auto;
    position: relative;
    border: 4px solid red;
    height: 400px;
    width: 400px;
    background: green;
}

.caja5 {
    width: 100px;
    height: 100px;
    background: red;
    display: block;
    position: absolute;
    left: 0;
}

.caja6 {
    width: 100px;
    height: 100px;
    background: yellow;
    display: block;
    position: absolute;
    right: 0;
}

.caja7 {
    width: 100px;
    height: 100px;
    background: cyan;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

.caja8 {
    width: 100px;
    height: 100px;
    background: darkred;
    display: block;
    position: absolute;
    bottom: 0;
}

.caja9 {
    width: 100px;
    display: block;
    background: darkblue;
    height: 100px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.caja-fixed {
    font-size: 40px;
    font-weight: 100px;
    background: red;
    position: fixed;
    z-index: 1000;
    margin-top: -100px;
}

